<tr>
    <th scope="row">{{_id}}</th>
    <td>{{format insured}}</td>
    <td>{{format gasolinePowered}}</td>
    <td>{{format damaged}}</td>
    <td>{{format fourByFour}}</td>
    <td><button
            class="btn btn-danger"
            onclick="deleteCar('{{_id}}')"
        >DELETE</button></td>
</tr>